################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bin
**/.vs/
.vs/
/Common123
/DailyRunner/Tokens/FlatTrade.AccessToken.Token.Common
*.Common
/PythonLibrary/python_lib.egg-info
/PythonLibrary/python_lib.egg-info/dependency_links.txt

**/bin/
**/obj/
**/__pycache__/
**/Logs/
**/*.csv/
/Common_latest
