################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bin
/.vs/TradingApplication/copilot-chat/c0d21834/sessions/264b6cbf-1906-4ddb-ab57-37612256a65d
/.vs/TradingApplication/copilot-chat/c0d21834/sessions
/.vs/TradingApplication/CopilotIndices/17.14.1091.29919
/.vs/TradingApplication/DesignTimeBuild
/.vs/TradingApplication/FileContentIndex
/.vs/TradingApplication/v17
/Common
/Common123
/DailyRunner/bin
/DailyRunner/CsvData
/DailyRunner/Logs
/DailyRunner/obj
/FlatTrade/bin
/FlatTrade/obj
/StrategyEngine/bin
/StrategyEngine/Logs
/StrategyEngine/obj
/.vs/slnx.sqlite
/FlatTrade.Test/obj/Debug/net8.0
/FlatTrade.Test/obj/Release/net8.0
/FlatTrade.Test/obj
/HistoricPriceFetcher/obj/Debug/net8.0
/HistoricPriceFetcher/obj/Release/net8.0
/MarketFeed/obj
/.vs/TradingApplicationabcd
/.vs
/FlatTrade.Test/bin/Debug/net8.0
/FlatTrade.Test/bin/Release/net8.0
/DailyRunner/Tokens/FlatTrade.AccessToken.Token.Common
*.Common
/StrategyEngine/10_RVNL-EQ_candles.csv
/StrategyEngine/15_RVNL-EQ_candles.csv
/StrategyEngine/1_RVNL-EQ_candles.csv
/StrategyEngine/30_RVNL-EQ_candles.csv
/StrategyEngine/3_RVNL-EQ_candles.csv
/StrategyEngine/5_RVNL-EQ_candles.csv
/Logs
/CorporateActions/__pycache__
/Upstox/obj/Release/net8.0
/Upstox/obj/Debug/net8.0
/Upstox/bin
/Upstox/obj
/PythonLibrary/python_lib/__pycache__
/PythonLibrary/python_lib.egg-info
/PythonLibrary/python_lib.egg-info/dependency_links.txt
/NpsNav/__pycache__
/MissingCandles/__pycache__
