################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.bin
/.vs/TradingApplication/copilot-chat/c0d21834/sessions/264b6cbf-1906-4ddb-ab57-37612256a65d
/.vs/TradingApplication/copilot-chat/c0d21834/sessions
/.vs/TradingApplication/CopilotIndices/17.14.1091.29919
/.vs/TradingApplication/DesignTimeBuild
/.vs/TradingApplication/FileContentIndex
/.vs/TradingApplication/v17
/Common
/Common123
/DailyRunner/bin
/DailyRunner/CsvData
/DailyRunner/Logs
/DailyRunner/obj
/FlatTrade/bin
/FlatTrade/obj
/StrategyEngine/bin
/StrategyEngine/Logs
/StrategyEngine/obj
/.vs/slnx.sqlite
/FlatTrade.Test/obj/Debug/net8.0
/FlatTrade.Test/obj/Release/net8.0
/FlatTrade.Test/obj
/HistoricPriceFetcher/obj/Debug/net8.0
/HistoricPriceFetcher/obj/Release/net8.0
/MarketFeed/obj
/.vs/TradingApplicationabcd
/.vs
/FlatTrade.Test/bin/Debug/net8.0
/FlatTrade.Test/bin/Release/net8.0
